In [3]:
# # List are ordered and mutable collection of item
# They contain item of diffrent data type

lst=["Rishi",12,13]
print(lst)

['Rishi', 12, 13]

In [4]:
lst.append("BOB")

In [5]:
print(lst)

['Rishi', 12, 13, 'BOB']

In [6]:
ind=lst.index("BOB")
print(ind)

3

In [7]:
# remove and return the last element
lst_el=lst.pop()
print(lst_el)
print(lst)

BOB
['Rishi', 12, 13]

In [8]:
lst.insert(3,"Mahesh")
print(lst)

['Rishi', 12, 13, 'Mahesh']

In [13]:
print(lst.count("Rishi"))

1

In [14]:
# sort( sort the list in ascending order)
# clear :remove all items
# reverse() reverse the list

In [16]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [17]:
for item in lst:
    print(item)

Rishi
12
13
Mahesh

In [19]:
# when we want index and items also then use enumrate function
for ind,item in enumerate(lst):
    print(ind,item)

0 Rishi
1 12
2 13
3 Mahesh

In [3]:
# List comprehension in Python provides a concise way to create lists. It allows you to generate a new list by applying an expression to each item in an existing iterable, optionally filtering items with a condition.
# basic syntax: [expression for item in iterable]
#  syntax with logic conditon: [expression for item in iterable if condition]
# nested list comphression : [expression for item1 in iterable1 for item2 in iterable2]

 <!-- --> -->

In [23]:
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[x**2 for x in range(10) if x%2==0]
# square with even numbers

[0, 4, 16, 36, 64]

In [24]:
# list comhrension
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# iterable list
lst1=[1,2,3,4]
lst2=['a','b','c']

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c'], [4, 'a'], [4, 'b'], [4, 'c']]

In [5]:
lst=["Rishi","BOB","REBEL","PK","RC"]

lengths=[len(word) for word in lst]
print(lengths)

[5, 3, 5, 2, 2]

In [9]:
# creating list using list class
lst=list()
print(type(lst))

<class 'list'>

In [21]:
# nested list:
lst=[[0,1,2],["Rishi"],[]]
print(lst[0][2])

2

In [6]:
# Tuples: ordered collection of items which are immutable simmiler to lst but immutable
# lst can be converted into tuples and tuples can be converted into tuples
# tuples support concationation ,slicing

In [10]:
# creating tuple using tuple class
tup=tuple()
print(type(tup))

<class 'tuple'>

In [11]:
tup=("Rishi","BOB","Mahesh")
tup1=(1,2,3,4,5);
print(tup+tup1)

('Rishi', 'BOB', 'Mahesh', 1, 2, 3, 4, 5)

In [12]:
tup*2

('Rishi', 'BOB', 'Mahesh', 'Rishi', 'BOB', 'Mahesh')

In [13]:
# Immutable nature of tuples:elements can not be changed once assigned
tup[1]="GHI" 
# cannot be changed
# support count method :how many time element present

TypeError: 'tuple' object does not support item assignment

In [14]:
print(tup.index("BOB"))
# gives tthe index of element

1

In [15]:
# packing and unpacking tuples
# packing
packed_tup="Rishi","BOB","SITA","RAVI"
print(packed_tup)

('Rishi', 'BOB', 'SITA', 'RAVI')

In [18]:
# unpacking
a,b,c,d=packed_tup
print(a,b,c,d)

Rishi BOB SITA RAVI

In [19]:
# unpacking with *
# * will choose where we left to the last or where the last element
tup=(1,2,3,4,5,6)
first,*middle,last=tup
print(first,middle,last)

1 [2, 3, 4, 5] 6

In [27]:
# nested tuples
tup=((1,2,3),("RIshi","A","B"),(True,False))
print(tup[1][0:])

('RIshi', 'A', 'B')

In [28]:
# iterating over nested tuples
for sub_tup in tup:
    for item in sub_tup:
        print(item,end=" ")
    print()

1 2 3
RIshi A B
True False